@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: "#007BFF";
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

.appbar {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #b6a3d6,
    #3b0c8e 70%,
    #0d0733
  );
}
